@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

body {
  background-color: black;
}

mark {
  background-color: rgba(0, 187, 255, 0.5);
  color: white;
}

@media only screen and (min-width: 994px) {
  .espacioArriba {
    margin-top: 10vh;
  }

  .espacioAbajo {
    margin-bottom: 10vh;
  }
}
@media only screen and (max-width: 993px) {
  .espacioArriba {
    margin-top: 5vh;
  }

  .masEspacioArriba {
    margin-top: 9vh;
  }

  .espacioAbajo {
    margin-bottom: 5vh;
  }

  .masEspacioAbajo {
    margin-bottom: 12vh;
  }

  .espacioAbajoHome {
    margin-bottom: 7vh;
  }

  .espacioGrandeArriba {
    margin-top: 28vh;
  }

  .h1 {
    font-family: "Akshar", sans-serif;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
  }

  .textoWeb {
    font-family: "Akshar", sans-serif;
    font-size: 19px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .navbar-dark {
    background-color: black !important;
    text-transform: uppercase;
  }
  .navbar-dark .navbar-collapse {
    justify-content: end !important;
  }
  .navbar-dark .nav-link {
    display: flex;
    justify-content: end;
    color: white !important;
  }

  .navbar-toggler {
    border: rgba(0, 187, 255, 0.5) solid 3px !important;
  }

  .navbar-dark .navbar-toggler {
    color: black;
  }

  .navbar {
    border-bottom: rgba(0, 187, 255, 0.5) solid 1px;
    font-family: "Akshar", sans-serif;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
  }

  .imgLogo {
    width: 30%;
  }

  .imgIndex {
    width: 65%;
  }

  .textoHome {
    font-family: "Akshar", sans-serif;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
  }

  .espacioGrandeArribaHome {
    margin-top: 22vh;
  }

  .home {
    width: 100%;
    display: flex;
  }

  .textoHomeCincuenta {
    width: 50%;
  }

  .argentina {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .contenedorTextoHome {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .otroPais {
    width: 50%;
  }

  .banderaHome {
    width: 50%;
    display: flex;
    margin: auto;
  }

  .mundo {
    width: 40%;
    display: flex;
    margin: auto;
  }

  .paddingTop {
    padding-top: 10px;
  }

  .contenedorBoton {
    display: flex;
    justify-content: center;
  }

  .boton {
    font-family: "Akshar", sans-serif;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 187, 255, 0.5);
    width: 60%;
    box-shadow: 3px 3px 0px white;
  }

  form p {
    font-family: "Akshar", sans-serif !important;
    color: black !important;
  }
  form button {
    font-family: "Akshar", sans-serif !important;
    color: white !important;
  }
  form ::placeholder {
    color: black !important;
  }
}

/*# sourceMappingURL=estilos.css.map */
